.green{
    color: green;
}
.red{
    color: red;
}
.wrapper{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid black;
    padding: 25px 25px 0px 25px;
    min-width: 316px;
}
.wrapper h1{
    margin-top:-10px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom:2px solid black;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
form input{
    margin-bottom: 15px;
}
form .btn{
    margin-top: 15px;
    height: 40px;
    outline: none;
    border: none;
    font-size: 20px;
    background: #2e53ba;
    color: #ffffff;
}
input{
    outline: none;
}
form .btn:hover{
    background: #0f8516;
    cursor: pointer;
}
.wrapper_lich{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.wrapper_index{
    margin: 0 auto;
    max-width: 800px;
}
aside{
    min-width: 360px;
    border: 2px solid black;
    padding: 5px 20px 5px 20px;
    margin-right: 80px;
    position: sticky;
    top: 39px;
}
aside h2{
    border-top: 2px solid black;
    padding-top: 15px;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}
.tasks__list table td {
    padding: 10px;
    border: 1px solid #e6dfdf;
    max-width: 234px;
    word-wrap: break-word;
}
aside input{
    display: block;
    width: 100%;
}
.a_btn{
    line-height: 30px;
    width: 30%;
    text-align: center;
    display: inline-block;
    outline: none;
    text-decoration: none;
    margin-top: 15px;
    padding: 4px;

    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 1px;
    background: #2e53ba;
    color: #ffffff;
}
.red_btn{
    line-height: 15px;
    text-align: center;
    display: inline-block;
    outline: none;
    text-decoration: none;
    padding: 4px;
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 4px;
    background: #ba3336;
    color: #ffffff;
}
.red_btn:hover{
    background: #ff0511;
}

.a_btn:hover{
    background: #0f8516;
}
.btn_block{
    display: flex;
    justify-content: space-around;
}
aside h3{
   text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tasks h1{
    text-align: center;
}
.tasks__add input{
    display: block;
    margin-bottom: 15px;
    width: 300px;
}
.tasks__add select{
    display: block;
    margin-bottom: 15px;
    width: 300px;
}
